.wrapper {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .6);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

.modal {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px 0 black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-name {
    height: 24px;
    width: 100px;
    outline: none;
    border: 1px solid gray;
    border-radius: 2px;
    font-size: 18px;
    margin-right: 7px;
}

.confirm {
    height: 24px;
    outline: none;
    background-color: gray;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    border: none;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.chat {
    width: 400px;
    height: 80vh;
    overflow: hidden;
    overflow-y: auto;
    border: 1px solid blue;
    margin-bottom: 7px;
}

.item {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.item_alien {
    justify-content: flex-start;
}

.item_alien > .message {
    background-color: lightcoral;
}

.message {
    width: 50%;
    padding: 7px;
    box-sizing: border-box;
    background-color: lightblue;
    border-radius: 15px;
    box-shadow: 0 0 7px 0 rgba(0, 0, 200, .5);
}

.vendor {
    width: 100%;
    font-weight: bold;
    margin-bottom: 7px;
}

.text {
    width: 100%;
    font-style: italic;
    margin-bottom: 7px;
}

.time {
    width: 100%;
    text-align: right;
    font-size: 14px;
}

.dialog {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.message-text {
    width: 100%;
    height: 35px;
    border: 1px solid blue;
    outline: none;
    border-radius: 2px;
    padding-left: 5px;
}

.send {
    height: 35px;
    border: none;
    background-color: blue;
    color: white;
    width: 50px;
    margin-left: 5px;
    cursor: pointer;
}